# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
/.esphome/
**/.pioenvs/
**/.piolibdeps/
**/lib/
**/src/
**/platformio.ini
/secrets.yaml

.esphome
monitor
winnie
waffle
wesley

jlc_board/reptile-monitor-backups
jlc_board/fp-info-cache
jlc_board/fp-lib-table
jlc_board/reptile-monitor.kicad_prl
